.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 0 auto;
}

#logo-link {
  color: rgb(233, 233, 233);
}

#logo-link:hover {
  color: rgb(243, 143, 61);
}

#profile {
  float: right;
}

img {
  margin: 0 auto;
  width: 50%;
}