.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 0 auto;
}

#logo-link {
  color: rgb(233, 233, 233);
}

#logo-link:hover {
  color: rgb(255, 136, 0);
}

#profile {
  float: right;
}

.main {
  margin: 10px auto;
}

.main img {
  margin: auto 70px;
width: 80vw;
}

.confirm {
  width: 80vw;
}